body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HTML Element Styling */

:root {
  --light-accent: rgb(255, 158, 158);
  --dark-accent: rgb(255, 89, 89);
  --base-white: rgb(237, 237, 237);
  --base-lightgrey: rgb(201, 201, 201);
  --base-grey: rgb(160, 160, 160);
}

* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  box-sizing: border-box;
}

body {
  background-color: var(--base-white);
}

button {
  padding: 12px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
}

hr {
  border: 0px;
  height: 4px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--base-grey);
}

li {
  list-style-type: none;
}

input {
  height: 50px;
  border: 1px solid black;
}

/* General Class Styling */

.accent,
.contrast:hover {
  background-color: var(--dark-accent);
  color: var(--base-white);
  border: 4px solid var(--dark-accent);
}

.contrast,
.accent:hover {
  background-color: var(--base-white);
  color: var(--dark-accent);
  border: 4px solid var(--dark-accent);
}

.rounded {
  border-radius: 12px;
}

.square {
  padding: 4px;
  border-collapse: collapse;
  border-radius: 0;
  font: inherit;
}

.overlay {
  border: 4px solid var(--base-grey);
  padding: 24px;
}

.row-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-items {
  display: flex;
  flex-direction: column;
}

.mono-show {
  display: none;
  position: absolute;
  top: 0px;
}

/* Component Class Styling */

.calendar {
  width: 1200px;
  max-width: 84vw;
  margin: 0 auto;
  background-color: var(--base-white);
  text-align: center;
  overflow-y: auto;
}

.title {
  padding: 0 8px;
  font-size: 48px;
  color: var(--dark-accent);
  border-color: var(--base-lightgrey);
  border-style: solid;
  border-width: 0px 8px;
  transition: all 0.2s ease-in-out;
}

.subtitle {
  font-size: 30px !important;
  padding: 0 0 12px;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: var(--base-white);
}

.modal-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: rgba(100, 100, 100, 0.5);
}

.navbar {
  position: sticky;
  top: 0px;
  padding: 24px 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: var(--base-grey);
  border-style: solid;
  border-width: 0 0 4px 0;
  background-color: rgba(237, 237, 237, 0.5);
}

.subbar {
  display: flex;
  justify-content: right;
  height: 65px;
}

.logo {
  height: 65px;
  padding: 8px;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
  background-color: var(--base-white);
}

.logo:hover {
  background-color: var(--light-accent);
}

.thin-button {
  padding: 6px 12px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 12px;
  border-radius: 0 0 0 6px;
  border: none;
}

.close-button:hover {
  background-color: var(--base-grey);
  /* color: var(--base-white); */
}

.settings-button {
  vertical-align: bottom;
  padding: 4px;
  margin-left: 24px;
}

.settings .thin-button {
  margin: 8px;
}

.settings-button img {
  height: 48px;
}

.settings-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin: 18px;
}

.settings-row input {
  transform: scale(2);
  height: 20px;
  cursor: pointer;
}

.color-option {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  border: 4px solid var(--base-white);
}

.color-option:hover {
  border: 4px solid var(--base-grey);
}

.addevents {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

.addevents p {
  height: 50px;
}

.addevents .thin-button {
  width: 100%;
}

.text-container {
  text-align: left;
}

.text-container input {
  padding: 8px;
}

.small {
  max-width: 50px;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: -2px;
}

.dropdown.wide {
  width: 204px;
  flex-direction: row;
  flex-wrap: wrap;
}

.drop-box {
  width: 100%;
  height: 50px;
  text-align: left;
  border: none;
}

.drop-box.small {
  text-align: center;
}

.drop-box:hover {
  background-color: var(--base-lightgrey);
}

.dropdown,
.top-button {
  width: 150px;
  border: 2px solid var(--base-grey);
}

.time-button {
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 0;
  border: 2px solid var(--base-grey);
  font: inherit;
  font-size: 16px;
}

.time-items {
  display: flex;
}

.eventlist {
  width: 100%;
  margin: 24px 0;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  height: 1260px;
  width: 13%;
  border-radius: 12px 12px 0 0;
  background-color: var(--light-accent);
  transition: all 0.2s ease-in-out;
  position: relative;
}

.column p {
  font-size: 18px;
}

.column .subtitle {
  padding: 8px;
  height: 56px;
}

.column.utility {
  height: 0px;
  margin: 0 auto !important;
}

.utility .time-scale {
  top: 72px;
}

.event {
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 6px solid var(--dark-accent);
  background-color: var(--dark-accent);
  transition: 0.2s all ease-in-out;
}

.event:hover {
  cursor: pointer;
  background-color: var(--light-accent);
}

.time-scale {
  position: absolute;
  top: 60px;
}

.time-scale p {
  height: 50px;
}

.scale-left {
  left: -50px;
}

.scale-right {
  right: -50px;
}

.grid-lines {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 60px;
  left: 0px;
  height: calc(100% - 60px);
  height: 1200px;
  width: 1200px;
  max-width: 84vw;
}

.grid-lines * {
  position: relative;
  width: 100%;
  height: 2.5px;
  z-index: 3;
}

.grid-lines.thin * {
  height: 0.5px;
}

.switch {
  position: absolute;
  height: 60px;
  top: 12px;
  padding: 4px 20px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  border: none;
  background-color: var(--light-accent);
}

.switch:hover {
  cursor: pointer;
  background-color: var(--dark-accent);
}

.move-left {
  left: -70px;
}

.move-right {
  right: -70px;
}

/* Responsive Styling */

@media only screen and (max-width: 1000px) {

  .eventlist {
    flex-direction: column;
    margin: 12px 0;
  }

  .column,
  .grid-lines {
    width: 70%;
    margin: 12px 15%;
  }

  .mono-hide {
    display: none;
  }

  .mono-show {
    display: inline-block
  }

  .scale-left {
    left: -65px;
  }
}

@media only screen and (max-width: 700px) {

  .title {
    font-size: 32px;
  }

  .subbar {
    height: 50px;
  }

  .navbar>button {
    padding: 4px;
  }

  button img {
    height: 36px !important;
  }

  a .logo {
    margin: 5px;
    padding: 0;
    height: 40px;
  }
}

@media only screen and (max-width: 500px) {

  .column,
  .grid-lines {
    width: 60%;
    margin: 12px 20%;
  }

  .calendar {
    max-width: 94%;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 70px 0 10px;
  }

  .navbar>button,
  .title,
  .subbar {
    width: 50%;
  }

  .title {
    position: absolute;
    top: 20px;
  }

  .dropdown.wide {
    margin-left: -152px;
  }

  .switch {
    padding: 0 12px;
  }

  .move-left {
    left: -50px;
  }

  .move-right {
    right: -50px;
  }

  .scale-left {
    left: -50px;
  }
}

@media only screen and (max-width: 369px) {

  .navbar {
    padding-top: 60px;
  }

  .navbar button {
    font-size: 20px;
    /* margin: 0 12px; */
  }

  .title {
    font-size: 24px;
    padding: 0;
  }

  .time-scale p {
    font-size: 16px;
  }

  .move-left {
    left: -45px;
  }

  .move-right {
    right: -45px;
  }
}