body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HTML Element Styling */

:root {
  --light-accent: rgb(255, 158, 158);
  --dark-accent: rgb(255, 89, 89);
  --base-white: rgb(237, 237, 237);
  --base-lightgrey: rgb(201, 201, 201);
  --base-grey: rgb(160, 160, 160);
}

/* 
  --light-blue: rgb(117, 149, 255);
  --dark-blue: rgb(53, 100, 255);
  --light-green: rgb(140, 255, 117);
  --dark-green: rgb(79, 255, 43);
*/

* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  box-sizing: border-box;
}

body {
  background-color: var(--base-white);
}

button {
  padding: 12px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
}

hr {
  border: 0px;
  height: 4px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--base-grey);
}

li {
  list-style-type: none;
}

input {
  height: 50px;
}

/* General Class Styling */

.accent,
.contrast:hover {
  background-color: var(--dark-accent);
  color: var(--base-white);
  border: 4px solid var(--dark-accent);
}

.contrast,
.accent:hover {
  background-color: var(--base-white);
  color: var(--dark-accent);
  border: 4px solid var(--dark-accent);
}

.rounded {
  border-radius: 12px;
}

.square {
  padding: 4px;
  border-collapse: collapse;
  border-radius: 0;
  font: inherit;
}

.overlay {
  border: 4px solid var(--base-grey);
  padding: 24px;
}

.row-items {
  display: flex;
  flex-direction: row;
}

.column-items {
  display: flex;
  flex-direction: column;
}

/* Component Class Styling */

.calendar {
  width: 1200px;
  max-width: 84vw;
  margin: 0 auto;
  background-color: var(--base-white);
  text-align: center;
}

.title {
  padding: 0 8px;
  font-size: 48px;
  color: var(--dark-accent);
  border-color: var(--base-lightgrey);
  border-style: solid;
  border-width: 0px 8px;
}

.subtitle {
  font-size: 30px !important;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  background-color: var(--base-white);
}

.modal-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(100, 100, 100, 0.5);
}

.navbar {
  padding: 24px 0;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: var(--base-grey);
  border-style: solid;
  border-width: 0 0 4px 0;
  background-color: rgba(237, 237, 237, 0.5);
}

.subbar {
  display: flex;
  height: 65px;
}

.logo {
  height: 65px;
  padding: 8px;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  background-color: var(--light-accent);
}

.thin-button {
  padding: 6px 12px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  background-color: var(--dark-accent);
}

.settings-button {
  vertical-align: bottom;
  padding: 4px;
  margin-left: 24px;
}

.settings-button img {
  height: 48px;
}

.settings .subtitle {
  margin-bottom: 16px;
}

.settings-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin: 12px 0;
}

.settings-row input {
  transform: scale(2);
  height: 20px;
}

.addevents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.addevents p {
  height: 50px;
}

.text-container {
  text-align: left;
}

.text-container input {
  padding: 8px;
}

.small {
  max-width: 50px;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: -2px;
}

.dropdown.wide {
  max-height: 320px;
  width: 204px;
  flex-direction: row;
  flex-wrap: wrap;
}

.drop-box {
  width: 100%;
  height: 50px;
  text-align: left;
  border: none;
}

.drop-box.small {
  text-align: center;
}

.drop-box:hover {
  background-color: var(--base-lightgrey);
}

.dropdown,
.top-button {
  width: 150px;
  border: 2px solid var(--base-grey);
}

.time-button {
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 0;
  border: 2px solid var(--base-grey);
  font: inherit;
  font-size: 16px;
}

.eventlist {
  width: 100%;
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  width: 150px;
  height: 1500px;
  border-radius: 12px;
  background-color: var(--light-accent);
}

.column p {
  padding: 12px 0;
  font-size: 18px;
}

/* Responsive Styling */

@media only screen and (max-width: 1400px) {
  .column {
    width: 13%;
  }
}

@media only screen and (max-width: 1000px) {
  .eventlist {
    flex-direction: column;
  }

  .column {
    width: 80%;
    height: 200px;
    margin: 12px 10%;
  }
}

@media only screen and (max-width: 700px) {

  .title {
    font-size: 32px;
  }

  .subbar {
    height: 50px;
  }

  .navbar>button {
    padding: 4px;
  }

  button img {
    height: 36px !important;
  }

  a .logo {
    margin: 5px;
    padding: 0;
    height: 40px;
  }
}

@media only screen and (max-width: 500px) {

  .navbar {
    flex-direction: column;
  }
}