/* Base Element Styling */

:root {
  --light-accent: rgb(242, 183, 113);
  --dark-accent: rgb(236, 140, 25);
  --base-white: rgb(237, 237, 237);
  --base-lightgrey: rgb(201, 201, 201);
  --base-grey: rgb(183, 183, 183);
  --base-darkgrey: rgb(144, 144, 144);
}

* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  box-sizing: border-box;
}

body {
  background-color: var(--base-white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 12px;
  border-radius: 12px;
  transition: all 0.1s ease-in-out;
}

button:hover {
  cursor: pointer;
}

hr {
  border: 0px;
  height: 4px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--base-darkgrey);
}

li {
  list-style-type: none;
}

input {
  padding: 8px;
  border: 1px solid black;
}

/* General Class Styling */

.accent,
.contrast:hover {
  background-color: var(--dark-accent);
  color: var(--base-white);
  border: 4px solid var(--dark-accent);
}

.contrast,
.accent:hover {
  background-color: transparent;
  color: var(--dark-accent);
  border: 4px solid var(--dark-accent);
}

.contrast-light {
  background-color: var(--base-white);
  color: var(--base-darkgrey);
  border: 4px solid var(--base-darkgrey);
}

.contrast-light:hover {
  background-color: var(--base-darkgrey);
  color: var(--base-white);
}

.square {
  padding: 4px;
  border-collapse: collapse;
  border-radius: 0;
  font: inherit;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--base-white);
  border: 4px solid var(--base-grey);
  padding: 24px;
  z-index: 14;
}

.row-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-items {
  display: flex;
  flex-direction: column;
}

.mono-show {
  display: none;
  position: absolute;
  top: 0px;
}

.title {
  padding: 0 8px;
  font-size: 48px;
  color: var(--dark-accent);
  border-color: var(--base-lightgrey);
  border-style: solid;
  border-width: 0px 8px;
  border-radius: 12px;
  transition: all 0.1s ease-in-out;
}

.subtitle {
  font-size: 30px !important;
  padding: 0 0 12px;
}

.small-text {
  font-size: 18px;
}
