.navbar {
    position: sticky;
    top: 0px;
    padding: 24px 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: var(--base-grey);
    border-style: solid;
    border-width: 0 0 4px 0;
    background-color: rgba(237, 237, 237, 0.5);
}

.subbar {
    display: flex;
    justify-content: right;
    height: 65px;
}

.logo {
    height: 65px;
    padding: 8px;
    border-radius: 100%;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}

.logo:hover {
    background-color: var(--dark-accent);
}

.settings-button {
  padding: 4px;
  margin-left: 24px;
}

.settings-button img {
  height: 48px;
}

.info-button {
    width: 50px;
    height: 50px;
    margin: 10px 90px 10px 10px;
    padding: 0;
    border-radius: 50%;
    font-size: 32px;
    font-weight: bold;
    background-color: transparent;
    border: 4px solid var(--base-darkgrey);
    color: var(--base-darkgrey);
}

.info-button:hover {
    background-color: var(--base-darkgrey);
    color: white;
}

@media only screen and (max-width: 700px) {

    .title {
        font-size: 32px;
    }

    .subbar {
        height: 50px;
    }

    .info-button {
        height: 40px;
        width: 40px;
        margin: 5px 80px 5px 5px;
        font-size: 20px;
        border-width: 3px;
    }

    .navbar>button {
        padding: 4px;
    }

    button img {
        height: 36px !important;
    }

    a .logo {
        margin: 5px;
        padding: 0;
        height: 40px;
    }
}

@media only screen and (max-width: 500px) {

    .info-button {
        margin: 5px;
    }

    .navbar {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 70px 0 10px;
    }

    .title,
    .subbar {
        width: 50%;
    }

    .title {
        position: absolute;
        top: 20px;
    }
}

@media only screen and (max-width: 369px) {

    .navbar {
        padding-top: 60px;
    }

    .navbar button {
        font-size: 20px;
    }

    .title {
        font-size: 24px;
        padding: 0;
    }
}